[submodule "vuln_apps/webgoat"]
	path = vuln_apps/webgoat
	url = https://github.com/pluribus-one/WebGoat.git
[submodule "vuln_apps/juice-shop"]
	path = vuln_apps/juice-shop
	url = https://github.com/pluribus-one/juice-shop.git
