[submodule "vuln_apps/webgoat"]
	path = vuln_apps/webgoat
	url = https://github.com/WebGoat/WebGoat.git
[submodule "vuln_apps/juice-shop"]
	path = vuln_apps/juice-shop
	url = https://github.com/juice-shop/juice-shop.git
